@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto&display=swap');
@font-face { font-family: cocogoosePro; src: url('Cocogoose Pro Regular Trial.ttf'); } 
@font-face { font-family: cocogooseProBlock; src: url('utility/Fonts/Cocogoose Pro Block Border Trial.ttf'); }
@font-face { font-family: cocogooseProLine; src: url('utility/Fonts/Cocogoose Pro Block Innerline Trial.ttf'); }
@font-face { font-family: cocogooseProReg; src: url('utility/Fonts/Cocogoose Pro Regular Trial.ttf'); }
/* font-family: 'Comfortaa', cursive; */

h1 {
    font-size: 40px;
    word-break: break-all;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-style: italic;
    
  }
  
  .row {
    margin: 8px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }

  .column {
    float: left;
    width: 33%;
  }

  .column h3 {
    color: #D0C39F;
      padding-top: 10px;
      text-align: center;
      font-style: italic;
      font-weight: 60;
  }
  
  h2 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    color: rgb(149, 149, 149);
    font-size: 20px;
  }

  p {
    text-align:center;
    color: #D0C39F;
    padding-top: 5px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {

    padding: 20px;
    border-radius: 20px;
  }
  

  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
