@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto&display=swap');

::-webkit-scrollbar{
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.nav li, a, button {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: #edf0f1;
    text-align: center;
    text-decoration: none;
}

header {
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2.5%;
}

.logo {
    cursor: pointer;
    margin-top: 50;
}

.logo:hover {
    color: #0088a9
}

.nav_links {
    list-style: none;
    padding-left: 60px;
}
 
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a { 
    transition: all 0.3s ease 0;
}

.nav_links li a:hover{
    color: #0088a9
}

.cta button{
    padding: 9px 25px;
    background-color: rgba(0,136,168,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

.cta button:hover {
    background-color: rgba(0,136,168,0.8);
}

footer{

    bottom: 0;
    left: auto;
    right: auto;
    background: #202125;
    height: auto;
    width: auto;
    font-family: 'Comfortaa', cursive;
    padding-top: 35px;
    color: #fff;
    margin: auto;
    width: 100%;
  
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 12px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a{
    transition: color .4s ease;
    font-size: 1.1rem;
}
.socials a i{
    font-size: 12pixel;
    color:#a5a5a5;

}
.socials a:hover i{
    color: rgba(0,136,168,0.8);
}

.footer-bottom{
    background: #1d1e22;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footerName{
    font-size: 20px;
}
