@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color:  #292a2f;
    
}

.search-bar{
    padding-top: 0px;
    padding-bottom: 600px;
}

.search-box {
    position: absolute;
    background: #24252A;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-txt{
    width: 300px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background:gray;
}

.search-btn{
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#24252A ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    
}

.search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height:40px;
    width: 0px;

}
