@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.nav li, a, button {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: #edf0f1;
    text-align: center;
    text-decoration: none;
}

header {
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2.5%;

}

.logo {
    cursor: pointer;
}

.logo:hover {
    color: #0088a9
}

.nav_links {
    list-style: none;
}
 
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a { 
    transition: all 0.3s ease 0;
}

.nav_links li a:hover{
    color: #0088a9
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,168,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

button:hover {
    background-color: rgba(0,136,168,0.8);
}




body {
    background-color: #292a2f;
}

h1{
    
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    color: #edf0f1;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #edf0f1;
}


.aboutmesect h1{
    text-align: center;
    text-decoration: none;
    color: aqua;
}

.aboutmesect{
    background-color: #2e2f35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 160px;
    padding-right: 230px;
    

}

.aboutme li{
    display: inline-block;
    padding-left: 230px;
    align-content: center;
}

.aboutmesect a:hover{
    color: #0088a9
}

.aboutmesect h2{
    text-decoration: none;
    padding-top: 30px;
    text-align: left;
}

.aboutmesect a{
    padding-right: 5%;
    padding-top: 70;
}


.featuredvid{
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
}


div.scrollmenu {
    background-color: #292a2f;
    overflow: auto;
    white-space: nowrap;
    padding-left: 40px;
    padding-bottom: 3%;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  div.scrollmenu iframe{
      padding-left: 25px;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }




/*------------------------------------ */
/*------------------------------------ */
  footer{

    bottom: 0;
    left: 0;
    right: 0;
    background: #202125;
    height: auto;
    width: 100vw;
    font-family: 'Comfortaa', cursive;
    padding-top: 35px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a{
    transition: color .4s ease;
    font-size: 1.1rem;
}
.socials a i{
    font-size: 12pixel;
    color:#a5a5a5;

}
.socials a:hover i{
    color: rgba(0,136,168,0.8);
}

.footer-bottom{
    background: #1d1e22;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
