@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: #292a2f;
}

h1{
    
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    color: #edf0f1;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #edf0f1;
}


.aboutmesect h1{
    text-align: center;
    text-decoration: none;
    color: aqua;
}

.aboutmesect{
    background-color: #2e2f35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 160px;
    padding-right: 230px;
    

}

.aboutme li{
    display: inline-block;
    padding-left: 230px;
    align-content: center;
}

.aboutmesect a:hover{
    color: #0088a9
}

.aboutmesect h2{
    text-decoration: none;
    padding-top: 30px;
    text-align: left;
}

.aboutmesect a{
    padding-right: 5%;
    padding-top: 70;
}


.featuredvid{
    font-size: 40px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 0px;
}


div.scrollmenu {
    background-color: #292a2f;
    overflow: auto;
    white-space: nowrap;
    padding-left: 40px;
    padding-bottom: 5%;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  div.scrollmenu iframe{
      padding-left: 25px;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }




/*------------------------------------ */
/*------------------------------------ */
 