@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
li, a, button {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: #edf0f1;
    text-align: center;
    text-decoration: none;
}

header {
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2.5%;

}

.logo {
    cursor: pointer;
}

.logo:hover {
    color: #0088a9
}

.nav_links {
    list-style: none;
}
 
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a { 
    transition: all 0.3s ease 0;
}

.nav_links li a:hover{
    color: #0088a9
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,168,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

button:hover {
    background-color: rgba(0,136,168,0.8);
}

body {
    background-color: #292a2f;
}

h1{
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    color: #edf0f1;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #edf0f1;
}

.aboutme{
    padding: 160px ;
}

.aboutme a{
    font-size: 16px;
}

.aboutme h1, h2{
    padding: 16px 8%;
}

.aboutme img{
    padding-left: 70%;
}

footer {
    color:#edf0f1;
}

footer {
    align-items: center;
    font-family: 'Comfortaa', cursive;
    font-family: 'Comfortaa', cursive;

 }

/*
p{
    color: black;
    text-decoration:none;
}


body {
    background-color: white;
}
h1 {
    color: black;
    font-size: 60px;
}

body {
    text-align: center;
}
ul {
    color: slategrey;
}
body {
    font-family: 'Comfortaa', cursive;


}
ol {
    color: black;
}
button {
    color: black;
    text-decoration-color: blueviolet;
}

a:link,
a:visited {
text-decoration: none;
color: black;
border-color: black;
    border-width: 5px;
    text-decoration: none;
}
a:hover {
    background-color: powderblue;
}

#myCanvas {
    background-color: lightblue;
}

    triggered {
border-style: none;
    }
 
canvas {
    border-style: solid;
    background-color: lightblue;
}


  
  .writing {
      margin-left: 20% ;
      margin-right: 20% ;
      padding: 10%
  }
  .info {
      font-family: 'Courier New', Courier, monospace;
      text-align: left;
      color: black;
      font-size: 50px;
  }
  .infor{
        text-align: middle;
        font-size: 20px;
      color: black;
  }
  .link{
    text-decoration: dotted;
  }
  /* .imagebox{
 
        display: flex;
        justify-content: space-evenly;
        padding-top: 50px;
    
  } 
  .informationpic{
    text-align: center;
  }
  .swiftTitle {
      font-size: 50px;
  } */
  
