h1{
    font-size: 50px;
    text-align: center;
    color: white
}
body {
    background-color: black;
    font-family: fantasy;
}
p {
    text-align: left;
    color: white;
    
}
a {
    font-size: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-style: solid;
}
img {
    text-align: right;
}