@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto&display=swap');
@font-face { font-family: cocogoosePro; src: url('Cocogoose Pro Regular Trial.ttf'); } 
@font-face { font-family: cocogooseProBlock; src: url('utility/Fonts/Cocogoose Pro Block Border Trial.ttf'); }
@font-face { font-family: cocogooseProLine; src: url('utility/Fonts/Cocogoose Pro Block Innerline Trial.ttf'); }
@font-face { font-family: cocogooseProReg; src: url('utility/Fonts/Cocogoose Pro Regular Trial.ttf'); }

h1{
    color: white;
    font-family: cocogooseProReg;
    text-align: center;
    padding-top: 5%;
    font-size: 30px;
}

.name {
    text-align: center;
    color: white;
    font-family: cocogooseProReg;
    font-size: 20px;
}

h2{
    color: white;
    font-family: cocogooseProLine;
    text-align: center;
    padding-top: 1%;
    font-size: 20px;
    padding-bottom: 4%;
}

.myinterest ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.interest{
    font-size: 20px;
    color: rgba(0,136,168,0.8);
}

p{
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
}

.aboutme .aboutmetext ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.aboutme .myinformation{
    justify-content: space-evenly;
    list-style: none;
}

.aboutme .container{
    justify-content: space-evenly;
    display: flex;
    list-style: none;
    padding-top: 20px;
}

.aboutme ul{
    list-style: none;
}

.paragraph{
    text-align: center;
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.698);
}

.mysched {
    padding-bottom: 90px;
}

/*-------------------------------------------------------------------------------- */
.schedule h1{
    text-align: left;
    text-decoration: none;
    color: aqua;
    font-size: 32px;
    padding-bottom: 30px;

}

.schedule{
    background-color: #2e2f35b7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 170px;
}

.schedule .content li{
    display: inline-block;
    padding-left: 170px;
    align-content: center;
}

.schedule img{
    border-radius: 40px;
}

.schedule a:hover{
    color: #0088a9
}

.schedule a{
    padding-right: 5%;

}
