@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto&display=swap');
@font-face { font-family: cocogoosePro; src: url('Cocogoose Pro Regular Trial.ttf'); } 
@font-face { font-family: cocogooseProBlock; src: url('utility/Fonts/Cocogoose Pro Block Border Trial.ttf'); }
@font-face { font-family: cocogooseProLine; src: url('utility/Fonts/Cocogoose Pro Block Innerline Trial.ttf'); }
@font-face { font-family: cocogooseProReg; src: url('utility/Fonts/Cocogoose Pro Regular Trial.ttf'); }
/* font-family: 'Comfortaa', cursive; */

body {
    background-color: #292a2f;
    
    font-family: cocogooseProReg;
  }


.title {
    text-align: center;
    padding-top: 10vh;
    font-size: 30px;
    color: white;
}
.title2 {
    text-align: center;
    padding-top: 2vh;
    font-size: 30px;
    color: white;
}

.sub{
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    text-align: center;
    color: white;
}
.instagram-media{
    text-align: center;
    margin-left: 20vw;
}