body {
    background-color: gray;
    text-align: center;
}
a:hover {
    background-color: powderblue;
}
h1 {
    font-size: 60px;
    margin-left:35% ;
    margin-right: 35% ;
    padding: 5%
    

}
a:link,
a:visited {
text-decoration: none;
color: black;
font-size: 30px

}
.sale{
    border-style: solid;
    border-color: black;
    border-width: 4px;
    margin-top: 15px;
    padding-top: 15px;
    font-size: 43px;
}
.container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    margin-top: 15px;
    text-align: center;

}
h3{
    font-size: 40px
}
